


{% extends ":default:PageAdmin.html.twig" %}
{% block adminName %}
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <img src="{{ asset('asseets/images/admin1.png') }}" alt=""/>

        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Log Out</a></li>
    </ul>
{% endblock %}
{% block content %}

    <link href="{{ asset('asseets/css/modalSupprimer.css')}}" rel="stylesheet">


    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            Gestion des reclamations
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">Gestion des Panier</a>
            </li>
            <li class="active"> Table des Panier</li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--table start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Table des Panier



                        <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped">
                                <thead>
                                <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Actions</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for paniers in paniers %}
                                    <tr>
                                        <td> {{ paniers.id }}</a></td>
                                        <td>{{ paniers.user.username }}</td>


                                        <td>


                                                <a href="{{ path('panier_show', { 'id': paniers.id }) }}" class="btn btn-primary btn-sm">Detaille</a>

                                    </tr>


                                    </td>
                                    </tr>


                                {% endfor %}
                                </tbody>

                                <tfoot>


                                </tfoot>
                            </table>

                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>



    <!-- table end-->



    <!--<script type="text/javascript">

    $("button#bt").click(
        function () {

            alert($(this).data("id"));

        }
    );

    function validation(e){
        var id = $(e).data("id");

        swal({
                title: "Etes vous sur?",
                text: "Il  ne sera pas possible de revenir en arriére!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Oui,supprimer!",
                closeOnConfirm: false
            },
            function(e){

                var id = $(e).data("id")

                var path = "{{ path('reclamation_delete',{idreclamation:14}) }}";
                $.ajax({
                    type: 'POST',
                    url: path,
                    success: swal("Supprimé!", "La reclamation a été supprimé avec succes.", "success")
                });

            });
    }

</script>
-->




{% endblock %}
